:host {
  display: block;
  margin-top: 1rem;
}

mat-form-field {
  width: 100%;
}


mat-expansion-panel,
mat-card {
  margin-top: 1rem;
}

mat-expansion-panel {
  width: 100%;
  background-color: #99CCFF;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.product-details {
  margin-top: 1rem;
}

.product-image {
  margin: auto;
  width: 100%;
}

.product-image img {
  margin: auto;
  vertical-align: middle;
  text-align: center;
  width: 75%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
